<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button 
      defaultHref="/"
      text="Atrás"
      color="success"
      mode="ios">
      </ion-back-button>
    </ion-button>

    <!--Avatar-->
    <ion-buttons slot="end" class="ion-padding">
      <ion-avatar>
        <a href="/inicio" ><ion-img src="/assets/img/icono.png" class="icon"></ion-img></a> 
      </ion-avatar>
   </ion-buttons>
  

    <ion-title class="titulo">Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <br><br>
  <ion-list class="transparente">

    <ion-item class="item-background-color">
      <ion-label position="floating">Nombre Completo: </ion-label>
      <ion-input type="text" placeholder="Digite su Nombre" [(ngModel)]="nombre" required></ion-input>
    </ion-item>

    <ion-item class="item-background-color">
      <ion-label position="floating">Teléfono: </ion-label>
      <ion-input type="number" placeholder="Ej: +56958641719" [(ngModel)]="telefono" required></ion-input>
    </ion-item>

    <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
      
      <ion-item class="item-background-color">
        <ion-label position="floating">Email: </ion-label>
        <ion-input type="email" placeholder="ej@ej.com"
                   name="email" [(ngModel)]= "usuario.email"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                   required>
        </ion-input>
      </ion-item>

      <ion-item class="item-background-color">
        <ion-label position="floating">Contraseña: </ion-label>
        <ion-input type="password" 
                   name="password" [(ngModel)]= "usuario.password" 
                   required>
      </ion-input>
      </ion-item>

      <ion-item class="item-background-color">
        <ion-label position="floating">Confirmar Contraseña: </ion-label>
        <ion-input type="password" 
                   name="password" [(ngModel)]= "usuario.repassword" 
                   required>
      </ion-input>
      </ion-item>

      <ion-button [disabled] ="formulario.invalid"
                  type="submit" expand="block" [routerLink]="['/inicio']">
        Registrarse
      </ion-button>
    </form>
  </ion-list>



 <!--Fab al pie-->

 <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button>
    <ion-icon name="share"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>  

</ion-content>

