<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button 
      defaultHref="/"
      text="Atrás"
      color="success"
      mode="ios">
      </ion-back-button>
    </ion-button>

    <!--Avatar-->
    <ion-buttons slot="end" class="ion-padding">
      <ion-avatar >
        <a href="/inicio" ><ion-img src="/assets/img/icono.png" class="icon"></ion-img></a>
      </ion-avatar>
   </ion-buttons>

    <ion-title class="titulo" >Ofertas de Empleo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-imagen">

  <!--Oferta 1-->
  <ion-card class="transparente">
  <ion-card-header>
    <ion-card-title class="titulo">Asistente Part Time Karting San Bernardo<br> Identificador de oferta Laboral: #6548464</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding contenido">
    <ion-img src="assets/img/karting.jpg" class="photo"></ion-img>
    <br>
    Empresa “Rally Karting " con 10 años de experiencia en el rubro del entretenimiento y 20 sucursales a lo largo del País,
    requiere ASISTENTE DE PISTA para sucursal ubicada en Mall Plaza Sur, comuna de San Bernardo.
    Se requiere de trabajo en equipo, proactividad, responsabilidad, compromiso, 
    disponibilidad de trabajar en horario Retail. Sabado y Domingo
    Dentro de sus funciones están: Servicio al cliente, Mantención y orden de pista, cuidado de las instalaciones etc.
    Renta Líquida $180.000 más bonos de ventas y costos dependiendo resultados del local.
  </ion-card-content>
  </ion-card>
  <br>

  <!--Oferta 2-->
  <ion-card class="transparente">
    <ion-card-header>
      <ion-card-title class="titulo">Operario de Bodega Pudahuel<br> Identificador de oferta Laboral: #8392649</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      <ion-img src="assets/img/bodega.jpg" class="photo"></ion-img>
      <br>
      Empresa de Logística se encuentra en la búsqueda de Operarios de bodega para trabajar en el sector de Pudahuel

      Horarios:
      Jornada de 6x1 en turnos rotativos de mañana, tarde y noche:
      -Mañana 07:00 a 15:00 Hrs
      -Tarde 14:00 a 23:00 Hrs.
      -Noche 22:00 a 07:00 Hrs

      Beneficios:
      - Renta líquida $500.000
      - Bus de acercamiento
      - Uniforme completo
      - Contrato a plazo fijo con opción indefinido

      Se requiere personal con o sin experiencia con la mejor disposición
    </ion-card-content>
    </ion-card>
    <br>

  <!--Oferta 3-->
  <ion-card class="transparente">
    <ion-card-header>
      <ion-card-title class="titulo">Garzona/Cajera<br> Identificador de oferta Laboral: #1739360</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      <ion-img src="assets/img/garzona.jpg" class="photo"></ion-img>
      <br>
      Para trabajar en pequeño restaurant ubicado en en Santiago centro se necesita Garzona/cajera de lunes a viernes de 12:00 a 22:00. 
      Sueldo minimo mas propinas, damos la colación diaria. interesados enviar su cv.
    </ion-card-content>
    </ion-card>
    <br>

  <!--Oferta 4-->
  <ion-card class="transparente">
    <ion-card-header>
      <ion-card-title class="titulo">Asistente Part Time Karting San Bernardo<br> Identificador de oferta Laboral: #5423829</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      <ion-img src="assets/img/camara.jpg" class="photo"></ion-img>
      <br>
      Se necesita guardias para condominio en quilicura
      requisitos:
      damas y varones
      curso de os-10 al dia o vencido desde el 2020
      renta $ 408.000 líquidos
    </ion-card-content>
    </ion-card>
    <br>

  <!--Oferta 5-->
  <ion-card class="transparente">
    <ion-card-header>
      <ion-card-title class="titulo">Asistente Part Time Karting San Bernardo<br> Identificador de oferta Laboral: #6315839</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      <ion-img src="assets/img/adecco.jpg" class="photo"></ion-img>
      <br>
      Importante cliente del rubro de Delivery, esta en búsqueda de los mejores Shopper en la comuna de Vitacura

      Cómo será tu día a día:
      Responsable de recibir pedidos a través de una aplicación y realizar la compra en tiendas físicas;
      Indique otras opciones para el cliente si es necesario;
      Empaque y dirija al equipo de entrega al cliente;
      Tenga agilidad por menos tiempo de ejecución.

      Que esperamos de ti:
      Media Completa
      Disponibilidad para trabajar en contrato temporal;
      Disponibilidad para trabajar de Lunes a Viernes de 09:00 a 19:00
      Renta de 25.000 por dia (Renta Base + Variable)
      Experiencia con Servicio al Cliente (en persona);
      Capacidad de comunicación verbal y escrita.
    </ion-card-content>
    </ion-card>
    <br><br><br>
    <section class="full-width">
      <ion-button [routerLink]="['/postulantes']" expand="full" color="secondary">Lista de Postulantes</ion-button>
    </section>

  <!--Fab al pie-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab> 

</ion-content>
